@page
<!DOCTYPE html>
<html lang="en" >
<title>Transaction Viewer</title>
<link href="https://unpkg.com/nordigen-bank-ui@1.3.4/package/src/selector.min.css" rel="stylesheet" />

<div class="institution-content-wrapper">
    <div class="institution-modal-content">
        <header class="institution-modal-header">
            <h2>Select your bank:</h2>
        </header>
    </div>
</div>

<script src="https://unpkg.com/nordigen-bank-ui@1.3.4/package/src/selector.min.js"></script>
    
<script>
    fetch("/GetAccessToken").then(response => response.json()).then(token => {
        if (typeof token.access === 'undefined') {
            alert(`${JSON.stringify(token)}\n\nFill in missing API keys in BankWeb/Services/NordigenService.cs`)
        }
        fetch(`/GetBanks?access_token=${token.access}`).then(response => response.json()).then(WithListOfBanks)
    })

    function WithListOfBanks(listOfBanks) {
        var [text, linkText] = ['Login to your bank to show transactions or ', "use a DEMO bank account"]

        config = { logoUrl: 'https://cdn.nordigen.com/ais/Nordigen_Logo_Black.svg', text, countryFilter: true }

        new institutionSelector(listOfBanks, 'institution-modal-content', config)
        var demoLink = document.createElement('a')
        demoLink.href = "/BankLogin?bank=SANDBOXFINANCE_SFIN0000"
        demoLink.innerText = linkText
        document.querySelector('.container-onboarding p').appendChild(demoLink)
        const observer = new MutationObserver((event) => {
            const institutions = Array.from(document.querySelectorAll('.ob-list-institution > a'))
            institutions.forEach((institution) => {
                institution.href = `/BankLogin?bank=${institution.dataset.institution}`
            })
        });

        observer.observe(document.querySelector(".institution-container"), { childList: true })
    }
</script>
