@page
<!DOCTYPE html>
<html lang="en" >
<title>Transaction Viewer</title>

<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/transactions.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<!-- Used for file exports -->
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

<a style="float: right; font-size: x-large" href="/" ><button class="dt-button">Log out</button></a>

<div id="loading-spinner"></div>


<script>
    const reference = '@Request.Query["ref"]'

    fetch("/GetAccessToken").then(response => response.json()).then(token =>
        fetch(`/ListBankAccounts?reference=${reference}&access_token=${token.access}`).then(response => response.json())
        .then(ShowBankAccounts)
    )

    const columns = [
        { text: 'Booking date', path: 'bookingDate' },
        { text: 'Account', path: 'debtorAccount.bban' },
        { text: 'Description', path: 'remittanceInformationUnstructured' },
        { text: 'Amount', path: 'transactionAmount.amount' },
        { text: 'Currency', path: 'transactionAmount.currency' },
        { text: 'Valuedate', path: 'valueDate' },
        { text: 'Debtor', path: 'debtorName' },
        { text: 'Creditor', path: 'creditorName' },
        { text: 'Creditor account', path: 'creditorAccount.bban' }
    ]

    const ShowBankAccounts = bankAccounts => {
        bankAccounts.forEach(account => {
            const title = `Account: ${account.metadata.iban}, balance: ${account.balances[0].balanceAmount.amount} ${account.balances[0].balanceAmount.currency}`
            var details = document.createElement("details");
            details.open = bankAccounts.length == 1
            details.innerHTML = `
                <summary style="cursor: pointer;">
                    <h2 style="display: inline;">${title}</h2>
                </summary>
                <table id="${account.id}" class="display" style="width: 100%">
                    <thead>
                        <tr>
                            ${columns.map(column => `<th>${column.text}</th>`).join('')}
                        </tr>
                    </thead>
                </table>`

            document.body.appendChild(details);

            var allTransactions = account.transactions.booked.concat(account.transactions.pending);
            const filename = `transactions-${account.metadata.iban}`
            new DataTable(`#${account.id}`, {
                data: allTransactions, paging: false, order: [0, 'desc'],
                columns: columns.map(column => ({ data: column.path, defaultContent: '' })),
                dom: 'Bfrtip',
                buttons: [
                    { extend: 'copy', title },
                    { extend: 'excel', filename, title },
                    { extend: 'csv', filename, title: null },
                    { extend: 'pdf', filename, title }]
            });
        })

        document.querySelector("#loading-spinner").remove();
    }
</script>
